<h1>Teams#show</h1>
<p>Find me in app/views/teams/show.html.erb</p>
<%= @error %>
<%= flash[:notice] %>
Team name:
<%= @team_name %>
Team events:

<% @team_events.each do |event| %>
<p><%= event.name %></p><br>
<% end %>

<%= form_tag("/events/create", method: "post") do %>
  <%= label_tag(:user_id, "User ID:") %>
  <%= text_field_tag(:user_id) %><br>
  <%= label_tag(:name, "Event Name:") %>
  <%= text_field_tag(:name) %><br>
  <%= hidden_field_tag :id, @team.id %>
  <%= submit_tag("Create Event") %>
<% end %>
