<a href="/">&lt;- Back to Everything</a>
<h1><%= @genres['name'] %> Albums</h1>

<ul>
  <% @albums.each do |album| %>
    <ul class="album">Album: <a href='/albums/<%= album['id'] %>'><%= album['title'] %></a>
      <% album['genres'].each do |genre| %>
        <li><a href='/genres/<%= genre['id'] %>'><%= genre['name'] %></a></li>
      <% end %>
    </ul>
  <% end %>
</ul>