<h1>All Books</h1>

<form method="POST" action="/new_book">
	<h3>Add new book</h3>
	<label>Title:</label>
	<input type="text" name="title" />
	<label>Author:</Author>
	<input type="text" name="author" />	
	<button>Add</button>
</form>

<form method="POST" action="/checkout">
	<h3>Check a book out.</h3>
	<label>Book ID</label>
	<input type="text" name="book_id" />
	<label>User Name</label>
	<input type="text" name="user" />
	<button>Check Out!</button>
</form>

<form method="POST" action="/checkin">
	<h3>Check a book in.</h3>
	<label>Book ID</label>
	<input type="text" name="book_id" />
	<label>User Name</label>
	<input type="text" name="user" />
	<button>Check in!</button>
</form>

<div><%= params['title'] %> by <%= params['author'] %> added to the collection.</div> <!--need to get this text to hide until called -->
<br>

<h3>Books currently owned by the library:</h3>
<br>
<% @books.each do |x| %>
<%= x['title']%> by <%= x['author']%>, ID is <%= x['id'] %><br>
<%end%>