<div class='song-list pure-g'>
  <div class='edit-wrapper pure-u-1-3'>
    <div class="edit-inner">
      <form action='/albums/<%=@album.id%>' method='POST' class="pure-form-stacked">
        <input type="hidden" name="_method" value='put'>
        <label for="album-title">Title</label>
        <input type="text" name="title" id="album-title" value="<%=@album.title%>">
        <label for="artist-name">Artist</label>
        <input type="text" name="artist" id="artist-name" value="<%=@album.artist%>"
        <label for="cover-url">Cover URL</label>
        <input type="text" name="cover" it="cover-url" value="<%=@album.cover%>">
        <input type='submit' value="Edit Album">
      </form>
    </div>
    <div class="delete-inner">
      <form action="/albums/<%=@album.id%>" method='POST' class='pure-form-stacked'>
        <input type="hidden" name="_method" value='delete'>
        <input type="submit" value="DELETE ALBUM">
      </form>
    </div>
  </div>
  <div class="songs-wrapper pure-u-1-3" >
  <% @songs.each do |song| %>
    <a href="/albums/<%=@album.id%>/songs/<%=song.id%>">
      <div class='song-title'><%= song.name %></div>
    </a>
    <div class='song-embed'>
      <iframe src="https://embed.spotify.com/?uri=<%=song.embed%>" width="100%" frameborder="0" allowtransparency="true"></iframe>
    </div>
  <% end %>
  </div>
  <div class='song-form pure-u-1-3'>
  <% if @song %>
    <%= yield %>
  <% end %>
  </div>
</div>