<div class='album_list pure-g'>
  <div class='add-wrapper pure-u-1-3'>
    <div class="add-inner">
      <form action='/' method='POST' class='pure-form-stacked'>
        <label for="title">Title</label>
        <input type='text' name='title' id='title' value='album title'>
        <label for='artist'>Artist</label>
        <input type='text' name='artist' id='artist' value='album artist'>
        <label for='cover'>Cover URL</label>
        <input type='text' name='cover' id='cover' value='album cover url'>
        <input type='submit' value='Add Album'>
      </form>
    </div>
  </div>
  <% @albums.each do |album| %>
    <div class='album-wrapper pure-u-1-3' data-id='<%= album.id%>'>
      <a href='/albums/<%= album.id%>'>
        <div class='album-title'>
          <%= album.title %>
        </div>
        <div class='album-cover'>
          <img src="<%=album.cover%>">
        </div>
        <div class='album-artist'>
          <%= album.artist %> 
        </div>
      </a>
    </div>
  <% end %>
</div>