
<% song_list.each do |song| %>
	<ul>
    <ul>
    	<li>Title: <%= song.title %> </li>
    	<li>Artist: <%= song.artist %> </li>
    	<li>Album: <%= song.album %> </li>
    	<li>Year: <%= song.year_published %> </li>
    	<li>Rating: <%= song.rating %> </li>
		</ul>
	</ul>
 <% end %>

You are viewing layout : show/index.