<table>
  <tr>
    <th>ID</th>
    <th>Title</th>
    <th>Artist</th>
    <th>Album</th>
    <th>Genre</th>
  </tr>
  <% @songs.each do |song| %>
    <tr>
      <td><%= song.id %></td>
      <td><%= song.title %></td>
      <td><%= song.artist %></td>
      <td><%= song.album %></td>
      <td><%=  %></td>
    </tr>
    <% end %>
</table>