<div>What would you like to search by?</div> 

<form action='/show_some' method='post'>
<div>
<div>	<label for='query_parameter'>Query parameter:</label> </div>
<div>   <select name='query_parameter'>
            <option  value="title">Title</option>
            <option  value="artist">Artist</option>
            <option  value="album">Album</option>
            <option  value="year_published">Year published</option>
            <option  value="rating">Rating</option>
            <option  value="genre_id">Genre</option>
            <option  value="lyrics">Lyrics</option>
        </select>
</div>

<div>	
<div>	<label for='search_term'>Search term</label> </div>
<div>	<input type='text' name='search_term'></div>
</div>
<div><input type='submit' name='FLIP' value='Search'></div>
</form> 

    <% if defined?(song_list) %>
<% content_for :rightmost do %>
    <div><form action='/update_change' method='post'>
    
    	<% song_list.each do |song| %>
        <ul>
            <input type="radio" name="song_picked" value='<%= song.id %>' /> 
        <ul>
            <li>Title: <%= song.title %> </li>
            

        	<li>Artist: <%= song.artist %> </li>
        	<li>Album: <%= song.album %> </li>
        	<li>Year: <%= song.year_published %> </li>
            <li>Genre: <%= Songify.genres.get_a_genre_by_name(song.genre).genre %> </li>
        	<li>Rating: <%= song.rating %> </li>
            <li>Lyrics: <%= song.lyrics %> </li>
		</ul>
    	</ul>
        <% end %>
    <div>
        <input type='submit' value="Update">
    </div>
    </form>
    <% end %>
    </div>
<% end %>

