<ul>
	<% @songs.each do |song| %>
		<li>Song <%= song.id%>: 
		<ul>
			<li> Title: <%= song.title %></li>
			<li> Artist: <%= song.artist %></li> 
			<li> Album: <%= song.album %></li>
		</ul>
	<% end %>
</ul>

<p><a href='/'><%= "Go home" %></a></p>