<div>Congratulations! You've just updated a song:</div>

<div><%= "#{your_song.title}" %></div>
<div><%= "by #{your_song.artist}" %></div> 
<div><%= "off of #{your_song.album}" %></div> 
<div><%= "from #{your_song.year_published}" %></div> 
<div><%= "in the #{your_song.genre} genre." %></div> 
<div><%= "You've rated this song a #{your_song.rating}." %></div>
<div><%= "The lyrics are #{your_song.lyrics}." %></div>

<div>You are viewing layout : update / update.</div>