<a href="/">&lt;- Back to Everything</a>
<h1>All Albums</h1>

<ul>
    <li>Album Title : song count </li>
  <% @albums.each do |album| %>
  <% path = "/albums/#{album['id']}" %>
    <li><a href=<%= path %>><%= album['title'] %></a> : <%= album['count'] %></li>
  <% end %>
    <li><%= @songs %></li>
</ul>



<form action="/albums" method="post">
  <h3>New Album</h3>
  <label>Album Title:</label>
  <input name="title" type="text" />
  <select name="genre_ids[]">
    <% @genres.each do |x| %>
    <option><%= x['name'] %></option>
    <% end %>
  </select>
  <a href="#">add another </a>
  <button>Create Album</button>
</form>
