<a href="/">&lt;- Back to Everything</a>
<h1>All Albums</h1>

<ul>
  <% @albums.each do |album| %>
    <% album_data = @song_count_by_album_id.find { |h| h['album_id'] == album['id'] } %>
    <li>
      <a href='/albums/<%= album['id'] %>'><%= album['title'] %> - <%= album_data['tracks'] %> Track(s)</a>
      <button 
        href='/albums/<%= album['id'] %>/delete' 
        class="delete" 
        data-confirm="Are you sure to delete this album?">
        Delete
      </button>
    </li>
  <% end %>
</ul>

<form class="album" action="/albums" method="post">
  <h3>New Album</h3>
  <p>
    <label>Album Title:</label>
    <input name="title" type="text" />
    <div id="genreSelectors">
      <div id="genreSelector">
        <select name="genre_ids[]" class = "main genre">
          <option value="genre0" selected disabled>Select Genre</option>
          <% @genres.each_index do |i| %>
            <option value="<%= @genres[i]['id']%>"><%= @genres[i]['name']%></option>
          <% end %>
        </select>
        <a href="#" class="add-genre">add genre</a><br />
      </div>
    </div>
  </p>
  <p>
    <label>Songs:</label><br>
    <div id="songlist">
      <input class = "song" name="songs[]" type="text" value="Track 1"/>
      <a href="#" class="add-song">add song</a><br />
    </div>
  </p>
  <button type="submit" value="Create Album">Create Album</button>

</form>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script type="text/javascript">

    // Add a New Song Textbox
    $('a.add-song').on('click', function(e) {
      e.preventDefault()

      // Create Next Track Number
      var trackText = "Track " + ($('input.song').length + 1)

      // Create New Song Textbox
      var $newSong = $('<input>').addClass('song').attr('name', 'songs[]').attr('type', 'text').attr('value', trackText)

      // Append Textbox
      $('#songlist').append($newSong).append('<br />')
    })

    // Add a New Genre Selector
    $('a.add-genre').on('click', function(e) {
      e.preventDefault()
      console.log("Add")
      // Create New Song Textbox

      var $cloneSelector = $('select.main').clone().removeClass('main')

      // Include 'Remove-Genre' Anchor
      var $removeAnchor = $('<a>').attr('href', "#").addClass('remove-genre').text("remove genre")

      var $genreSelector = $('<div>').attr('id', "genreSelector").append($cloneSelector).append($removeAnchor).append('<br />')

      // Add Genre Selector
      $('#genreSelectors').append($genreSelector)

    })

    // Remove Genre Selector
    $(document).on('click', 'a.remove-genre', function(e) {
      e.preventDefault()
      console.log("Remove")
      $(e.target).parent().remove()
    })

    // Delete Album Listeners
    $(document).on('click', 'button.delete', function(event) {
      event.preventDefault();
      
      var choice = confirm(this.getAttribute('data-confirm'));
      
      if (choice) {
        window.location.href = this.getAttribute('href');
      }
    });

</script>
