<a href="/">&lt;- Back to Everything</a>
<h1>All Albums</h1>

<ul>
    <li>Album Title : song count </li>
  <% @albums.each do |album| %>
  <% path = "/albums/#{album['id']}" %>
    <li><a href=<%= path %>><%= album['title'] %></a> : <%= album['count'] %></li>
  <% end %>
<!--     <li><%= @songs %></li> -->
</ul>



  <form action="/albums" method="post">
    <h3>New Album</h3>
    <label>Album Title:</label>
    <input name="title" type="text" />
    <label>Please Select a Genre: </label>
    <select name="genre_ids[]">
      <% @genres.each do |x| %>
      <option name="genre"><%= x['name'] %></option>
      <% end %>
    </select>

      <a class="add-genre" href="#">add genre</a>

    <button>Create Album</button>
  </form>


<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script type="text/javascript">

$(document).on('click', 'a.add-genre', function(e) {
  e.preventDefault()
  $select = $("[name='genre_ids[]'").last()
  $placement = $('a.add-genre')
  // $genre = $("[name='genre']")
  // $select.clone().before($placement)
  // $placement.
  $placement.before($select.clone())

})

</script>


