<a href="/">&lt;- Back to Everything</a>
<h1>All Albums</h1>

<ul>
    <li>Album Title : song count </li>
  <% @albums.each do |album| %>
  <% path = "/albums/#{album['id']}" %>
    <li><a href=<%= path %>><%= album['title'] %></a> : <%= album['count'] %></li>
  <% end %>
<!--     <li><%= @songs %></li> -->
</ul>


<div class="form">
  <form action="/albums" method="post">
    <h3>New Album</h3>
    <label>Album Title:</label>
    <input name="title" type="text" />
    <label>Please Select a Genre: </label>
  <div class="genre">
    <select name="genre_ids[]">
      <% @genres.each do |x| %>
      <option name="genre"><%= x['name'] %></option>
      <% end %>
    </select>
<!--     <div class="add"> -->
  </div>
      <a class="add-genre" href="#">add genre</a>
<!--     </div> -->
    <br>
    <br>
    <button>Create Album</button>
  </form>
</div>


<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script type="text/javascript">

$(document).on('click', 'a.add-genre', function(e) {
  e.preventDefault()
    $select = $("div.genre").last()
    $br = $('<br>')
    $remove = $('<a>').attr('href', '#').addClass('remove-genre').text('remove genre')
    $remove.append($br)
    $div = $('div.genre').last()
    $placement = $('a.add-genre')
  if ($('a.remove-genre').length === 0) {
    $div.append($remove)

    // $genre = $("[name='genre']")
    // $select.clone().before($placement)
    // $placement.
    $placement.before($div.clone())
  } else {
    $placement.before($div.clone())
  }

})

$(document).on('click', 'a.remove-genre', function(e) {
  e.preventDefault()
  $remove = $("div.genre").last()
  // this.remove()
  // this.remove()
  $remove.remove()
  this.remove()
  if ($('a.remove-genre').length === 1) {
    $rere = $('a.remove-genre')
    $rere.remove()
  }
})

</script>


